:root {
    --gray-050: #F7F8F8;
    --gray-100: #EEEEF0;
    --gray-200: #D9DADE;
    --gray-300: #B7BAC2;
    --gray-400: #9095A0;
    --gray-500: #727885;
    --gray-600: #5C616D;
    --gray-700: #4B4F59;
    --gray-800: #41454B;
    --gray-900: #393B41;
    --gray-950: #1C1D20;
    --blue-050: #E8F7FF;
    --blue-100: #D5F0FF;
    --blue-200: #B3E1FF;
    --blue-300: #85CAFF;
    --blue-400: #56A5FF;
    --blue-500: #2F7FFF;
    --blue-600: #0C52FF;
    --blue-700: #0047FF;
    --blue-800: #0640CD;
    --blue-900: #103E9F;
    --blue-950: #0A225C;
    --yellow-050: #FFFEE7;
    --yellow-100: #FFFDC1;
    --yellow-200: #FFEF14;
    --yellow-300: #FFEA41;
    --yellow-400: #FFDB0D;
    --yellow-500: #FFCE00;
    --yellow-600: #D19800;
    --yellow-700: #A66B02;
    --yellow-800: #89540A;
    --yellow-900: #74440F;
    --yellow-950: #442304;
    --red-050: #FFF1F1;
    --red-100: #FFE1E1;
    --red-200: #FFC7C7;
    --red-300: #FFA0A0;
    --red-400: #FF5454;
    --red-500: #F83B3B;
    --red-600: #E51D1D;
    --red-700: #C11414;
    --red-800: #A01414;
    --red-900: #841818;
    --red-950: #480707;
    --green-050: #F0FEE7;
    --green-100: #DDFBCC;
    --green-200: #BEF79F;
    --green-300: #6EE339;
    --green-400: #6EE339;
    --green-500: #4CC919;
    --green-600: #38A010;
    --green-700: #2C7A11;
    --green-800: #276113;
    --green-900: #235215;
    --green-950: #0E2D06;
    --pink-050: #FEF1F6;
    --pink-100: #FEE5EF;
    --pink-200: #FFCAE0;
    --pink-300: #FF9FC4;
    --pink-400: #FF639C;
    --pink-500: #FF3F7F;
    --pink-600: #F01251;
    --pink-700: #D10539;
    --pink-800: #AD072F;
    --pink-900: #8F0C2C;
    --pink-950: #580015;
    --default-white: #FFFFFF;
    --default-black: #000000;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    color: var(--gray7);
    font-weight: 400;
}